@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;700&family=Roboto:wght@400;700&display=swap');
/* font-family: 'Baloo Bhai 2', cursive;
font-family: 'Roboto', sans-serif; */
*, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    min-height: 600px;
    min-width: 1100px;
    display: flex;
    justify-content: space-between;
}
nav {
    margin-top: 2.66vh;
    margin-left: 2.25vw;
    width: 9.17%;
    height: 94.66%;
    padding: 4.5vh 0 4.5vh 0;
    background-color: black;
    border-radius: 24px;
    box-shadow: 1.5vw 3.5vh 60px #b4b4b4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nav-buttons {
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 7vh;
}
main {
    margin-top: 2.66vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    width: 43.06%;
    height: 97.34vh;
}
aside {
    margin-top: 2.66vh;
    margin-right: 5.55vw;
    display: flex;
    flex-direction: column;
    width: 30.48%;
    height: 97.34vh;
}
header {
    height: 21.25%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
}
.header-text {
    height: 84%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F5F7;
    border-radius: 14px;
}
h1 {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.5vw;
    margin: 0.5% 0 0 5%;
}
.header-text p {
    margin: 0 0 0 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
header img {
    position: absolute;
    height: 100%;
    margin-left: 55%;
}
a {
    outline: none;
}
a:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
    outline: none;
}
.search-count {
    height: 21.25%;
    display: flex;
    align-items: flex-end;
}
.search-count-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 84%;
}
form {
    position: relative;
    width: 68.18%;
    height: 100%;
    margin-right: 4%;
}
.search {
    height: 100%;
    width: 100%;
    background: #F5F5F7;
    padding-left: 15%;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.search-button {
    height: 51.3%;
    position: absolute;
    top: 26.85%;
    left: 5.27%;
    outline: none;
    border: none;
}
.navform a {
    height: 100%;
}
.notification {
    height: 100%;
}
.navform {
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navform button {
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.navform button:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.2s
}
.profile-button {
    height: 100%;
}
.count-box {
    height: 60.21%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.count {
    width: 47.27%;
    background-color: #F5F5F7;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.77vw;
}
.count h2 {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 4.44vw;
    margin: 0;
}
.count p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.11vw;
    margin: 0;
    vertical-align: center;
}
.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.67vh;
    height: 8.89%;
}
.progress-bar {
    width: 80.65%;
    height: 100%;
    background-color: #F5F5F7;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flag {
    margin-left: 0.59vw;
    margin-right: 1.66vw;
    width: 4.44vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
}
.course-name {
    width: 10.49vw;
    margin-right: 2.01vw;
}
.course-name h4 {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.10vw;
    margin: 0;
}
.course-name p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9vw;
    margin: 0;
}
.learn-progress {
    margin-right: 7.99%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.learn-progress p {
    margin: 0;
    text-align: center;
    justify-content: center;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
main button {
    height: 4.44vh;
    width: 8.33vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: black;
}
main button:hover {
    transition: ease-in-out 0.4s;
    cursor: pointer;
    color: black;
    border: 1px solid black;
    background-color: transparent;
}
.slider-buttons {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    outline: none;
}
.slider-buttons:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
.course-list {
    margin-top: 3vh;
    height: 59.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h3 {
    margin: 0;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.66vw;
}
.course-names {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.06vw;
    color: rgba(0, 0, 0, 0.3);
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    font-size: 16px;
}
.course-names p {
    margin: 0;
}
.course-names p:first-child {
    color: black;
}
.course-names p:hover {
    color: black;
    cursor: pointer;
}
.course-item {
    height: 8.89vh;
    background-color: #F5F5F7;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9vw;
}
.clock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.55vw;
    width: 6.5vw;
    margin-right: 2vw;
}
.popularity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.55vw;
    margin-right: 2.3vw;
}
.figure {
    margin-top: 4.45vh;
    width: 100%;
    height: 42.06vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.figure button {
    padding: 0;
    width: 6.11vw;
    height: 3.56vh;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: #F5F5F7;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.38vw;
    outline: none;
}
.figure button:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.chart {
    width:100%;
}
.figure-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.premium {
    margin-top: 5.9vh;
    width: 100%;
    height: 21.44vh;
    border-radius: 14px;
    background-color: #F5F5F7;
    display: flex;
    flex-direction: row;
    gap: 4.47vw;
    justify-content: center;
    align-items: center;
}
.premium button {
    padding: 0;
    height: 4.44vh;
    width: 8.33vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: black;
}
.premium button:hover {
    transition: ease-in-out 0.4s;
    cursor: pointer;
    color: black;
    border: 1px solid black;
    background-color: transparent;
}
.premium p {
    margin: 0;
    width: 12.5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.11vw;
    margin-bottom: 2.69vh;
}